@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-color: #1c3fa8;
  --secondary-color: #047aed;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

/* Navbar */

.container {
  max-width: 100%;
  max-height: 100%;
  height: 60px;
  background: #fafafa;
  /* padding: 10px; */
}

.navbar .logo {
  font-size: 25px;
  font-weight: bold;
  font-family: ShopifySans, Helvetica, Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  height: 60px;
  position: fixed;
  width: 1400px;
  background: #fafafa;
  z-index: 200;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  padding: 10px;
  font-family: ShopifySans, Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.navbar ul li a {
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #2874a6;
}

.navbar ul i {
  padding: 0 10px;
}

.navbar .sign a {
  padding: 0 10px;
  font-family: ShopifySans, Helvetica, Arial, sans-serif;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.navbar ul .cj {
  padding-top: 10px;
  height: 40px;
}

.navbar ul .btn-up {
  background: #3498db;
  padding: 7px 15px;
  margin-left: 20px;
  letter-spacing: normal;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 4px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  transition: 0.3s;
}

.navbar ul .btn-up:hover {
  background: #2874a6;
}

/* Showcase */
.showcase {
  max-width: 100%;
  max-height: 100%;
  height: 90.9vh;
  background: #1c3fa8;
  font-family: ShopifySans, Helvetica, Arial, sans-serif;
  color: #fff;
}

.content-showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px;
}

.show-1 {
  padding-right: 230px;
}

.show-1 h4 {
  color: #76d7c4;
}

.show-1 h1 {
  font-size: 55px;
  font-weight: 600;
}

.show-1 p {
  font-size: 23px;
  width: 480px;
  padding-bottom: 35px;
}

.show-pic img {
  width: 400px;
  height: 400px;
}

.show-1 .btn-show {
  color: #fff;
  border: 2px #fff solid;
  padding: 15px 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  transition: background 0.3s ease-in, color 0.3s ease-in;
}

.show-1 .btn-show:hover {
  background: #fff;
  color: #000;
}

.show-1 h5 {
  padding-top: 20px;
}

.show-1 h5 a {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.show-1 h5 a:hover {
  border: none;
}

/* Information */

/* Explain */

.container-2 {
  max-width: 100%;
  min-height: 100%;
  font-family: ShopifySans, Helvetica, Arial, sans-serif;
  background: #fff;
}

.content-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.area-1 {
  padding-left: 70px;
}

.area-1 .sc {
  padding-left: 0px;
  padding-right: 80px;
}

.content-2 .area-1 h1 {
  font-size: 35px;
  margin-top: 40px;
  padding-bottom: 20px;
}

.content-2 .area-1 .pad {
  color: #42474c;
  font-size: 20px;
  padding-bottom: 40px;
  width: 500px;
}

.area-2 img {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  width: 600px;
  height: 450px;
}

.flex-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.cards {
  display: flex;
  width: 50px;
  height: 50px;
}

.cards img {
  margin-right: 14px;
}

.area-3 img {
  width: 300px;
  height: 300px;
}

.area-3 .b-1 {
  width: 200px;
  height: 250px;
  margin-top: 50px;
  margin-left: 230px;
}

.area-3 .b-3 {
  width: 250px;
  height: 300px;
}

.first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
}

.second {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-content: center;
}

.second .b-2 {
  width: 400px;
  height: 240px;
  margin-left: 290px;
  margin-top: 20px;
}

.area img {
  width: 300px;
  margin-right: 50px;
}

.arw {
  position: absolute;
  right: 75%;
  margin-top: 150px;
  transform: rotateY(180deg);
  width: 200px;
  height: 200px;
}

/* Faq */

.faq-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  background: #fbf7ed;
}

.faq-content .faq-1 .pad {
  color: #42474c;
  font-size: 20px;
  padding-bottom: 40px;
  width: 500px;
}

.faq-content .faq-1 h1 {
  font-size: 35px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.faq-2 img {
  width: 500px;
  height: 400px;
  padding-left: 90px;
}

.faq-content .faq-1 i {
  color: #047aed;
}

.faq-content .faq-1 a {
  text-decoration: none;
  font-weight: 700;
  line-height: 1.5;
  color: #047aed;
  transition: padding-right 0.3s ease-in;
}

.faq-content .faq-1 a:hover {
  padding-right: 5px;
}

/* Pricing Table */
.container-pay {
  max-width: 100%;
  min-height: 100%;
  font-family: ShopifySans, Helvetica, Arial, sans-serif;
  background: #fff;
}

.text-pay {
  text-align: center;
  font-family: ShopifySans, Helvetica, Arial, sans-serif;
  margin: 40px 0;
}

.text-pay h1 {
  color: #000;
  font-size: 45px;
  letter-spacing: 1px;
}

.text-pay p {
  color: #6b7177;
  font-size: 21px;
  font-weight: 300;
}

.pay-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.card-pay {
  display: block;
  padding: 20px;
  padding: 10px 40px;
  padding-bottom: 70px;
  background: #fff;
  box-shadow: 0 4px 45px #d2d5d9;
  margin: 20px;
}

.pay-1 h2 {
  text-align: center;
  align-items: center;
  font-size: 20px;
  padding: 10px 0;
  font-weight: 600;
  color: #000;
  font-family: ShopifySans, Helvetica, Arial, Lucida Grande, sans-serif;
}

.pay-1 p {
  text-align: center;
  color: #6b7177;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 400;
  font-family: ShopifySans, Helvetica, Arial, Lucida Grande, sans-serif;
}

.pay-1 .price {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  font-family: ShopifySans, Helvetica, Arial, Lucida Grande, sans-serif;
  padding: 10px 0;
}

.pay-1 .pay-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  border-top: 2px solid #f0f1f2;
}

.pay-1 .pay-box .service {
  margin-right: 100px;
  font-size: 14px;
  width: 130px;
}

.pay-1 .pay-box .service h4,
.pay-1 .pay-box .recur h4 {
  line-height: 1.9;
}

.pay-1 .pay-box .recur h4 i {
  color: #27ae60;
}

.pay-1 .pay-box .recur {
  text-align: right;
}

/* Join In */

.container-join {
  min-width: 100%;
  min-height: 100%;
  font-family: ShopifySans, Helvetica, Arial, sans-serif;
  background-color: #fff;
  padding-top: 40px;
  height: 50vh;
}

.content-join {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.content-join h2 {
  font-size: 35px;
  width: 600px;
}

.box-j1 {
  margin-left: 45px;
  padding-bottom: 98px;
}

.box-j2 img {
  width: 300px;
  height: 300px;
  margin-top: 98px;
  margin-left: 400px;
}

.content-join h2 span {
  color: #1c3fa8;
}

.content-join p {
  font-size: 14px;
  padding: 14px 0;
  color: #6b7177;
  font-weight: 400;
  width: 600px;
}

.content-join .email-sign input {
  display: inline-block;
  height: 2.8em;
  width: 400px;
  margin: 0 0 15px;
  padding: 1em 0.9375em;
  color: #212326;
  font-family: ShopifySans, Helvetica, Arial, sans-serif;
  font-size: 1em;
  box-shadow: 0 0 0 1px #6b7177;
  border: 1px solid transparent;
  border-radius: 4px;
  margin: 16px 0;
  margin-bottom: 5px;
  outline-color: #2874a6;
  background-color: #ffffff;
}

.content-join .email-sign .btn-sign {
  background: #3498db;
  padding: 12.5px 20px;
  letter-spacing: normal;
  color: #fff;
  margin-left: 10px;
  font-family: ShopifySans, Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 4px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  transition: 0.3s;
}

.content-join .email-sign .btn-sign:hover {
  background: #2874a6;
}

/* Footer */

.footer {
  min-width: 100%;
  min-height: 100%;
  height: 79.5vh;
  margin-top: 100px;
  font-family: ShopifySans, Helvetica, Arial, sans-serif;
  background-color: var(--primary-color);
}

.footer-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.footer-up {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #6b7177;
  padding-bottom: 20px;
}

.footer-up .path-1 a {
  color: #fff;
  margin: 0 15px;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 5px;
  transition: border-bottom 0.5s ease-in-out;
}

.footer-up .path-1 a:hover {
  border-bottom: 3px solid #fff;
}

.footer-middle {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #6b7177;
  margin-bottom: 20px;
}

.footer-middle .text-foot h1 {
  padding: 30px 20px;
  padding-right: 65px;
  font-size: 40px;
}

.footer-middle .text-foot h1 a {
  color: #fff !important;
}

.footer-middle .link-1 h2,
.footer-middle .link-2 h2,
.footer-middle .link-3 h2,
.footer-middle .link-4 h2 {
  color: #fff;
  padding-bottom: 20px;
}

.footer-middle .link-1,
.footer-middle .link-2,
.footer-middle .link-3,
.footer-middle .link-4 {
  padding: 0 50px;
}

.footer-middle .link-2 {
  padding-bottom: 60px;
}

.footer-middle .link-4 {
  padding-bottom: 30px;
}

.footer-middle .link-1 ul li a,
.footer-middle .link-2 ul li a,
.footer-middle .link-3 ul li a,
.footer-middle .link-4 ul li a {
  color: #b6babf;
  transition: color 0.3s ease-in-out;
}

.footer-middle .link-1 ul li a:hover,
.footer-middle .link-2 ul li a:hover,
.footer-middle .link-3 ul li a:hover,
.footer-middle .link-4 ul li a:hover {
  color: #fff;
}

.footer-middle .link-1 ul li,
.footer-middle .link-2 ul li,
.footer-middle .link-3 ul li,
.footer-middle .link-4 ul li {
  padding: 4px 0;
}

.footer-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-end .social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social .icon-1 a,
.social .icon-2 a,
.social .icon-3 a,
.social .icon-4 a,
.social .icon-5 a,
.social .icon-6 a {
  color: #fff;
  padding: 0 20px;
  font-size: 25px;
}

.footer-end .privacy ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.privacy ul li a {
  color: #b6babf;
  padding: 0 10px;
  transition: color 0.3s ease-in-out;
}

.privacy ul li a:hover {
  color: #fff;
}
